body{
    background-color: black;
    color: rgb(70, 230, 70);
    font-size: 12pt;
    font-family:'Courier New', Courier, monospace;
}

a{
    color: rgb(70, 230, 70);
}

p{
    margin: 15px;
}

hr{
    border-color: green;
}

footer{
    font-size: 8pt;
}