body{
    background-color: black;
    color: rgb(70, 230, 70);
    font-size: 12pt;
    font-family:'Courier New', Courier, monospace;
}

a{
    color: rgb(70, 230, 70);
}

p{
    margin: 25px;
}

hr{
    border-color: green;
}

footer{
    font-size: 8pt;
    text-align: right;
}
li {
    margin: 10px;
}

h1{
    text-align: center;
}

iframe{
    display: none;
    height: 250px;
}